body {
  /*background-image: url('https://wallpaperscraft.com/image/sky_stars_background_points_85061_2048x1152.jpg');
  color: white;*/
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.row-1 {
  width: 90%;
  height: 15vh;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}

.row-2 {
  width: 90%;
  height: 10vh;
  display: none;
  margin: 0 auto;
  margin-top: 3%;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}

.row-3 {
  width: 90%;
  height: 30em;
  position: absolute;
  margin-top: 25%;

}

.row-4 {
  width: 90%;
  height: 10em;
  margin: 0 auto;
  margin-top: 50%;
  align-items: center;
  display: flex;
}

h1, h2, h3 {
  font-family: 'Slackey', cursive;
}


#start {
  display: flex;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

#categories {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 60%;
  font-family: 'Slackey', cursive;

}



img {
  width: 15%;
  height: 20%;
  display: inline-block;
  align-items: flex-end;
}

.player1 {
  width: 25%;
  height: 10em;
  align-self: center;
  justify-content: flex-start;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
  padding: 1%;
}

.player2 {
  width: 25%;
  height: 10em;
  align-self:center;
  justify-content: flex-end;
  display: inline-block;
  margin-left: 60%;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
  padding: 1%;
}

input {
  width: 20em;
  height: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-align: center;
}
