body {
  background-image: url('../img/StarburstsMCM.png');
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

}

.row-1 {
  width: 90%;
  height: 15%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}

.row-2 {
  width: 90%;
  height: 15%;
  display: none;
  margin: 0 auto;
  margin-top: 3%;
  align-self: center;
  align-items: center;
  vertical-align: top;
  justify-content: space-around;
  background-color: white;
  border: 2px solid black;
}

.row-3 {
  width: 90%;
  height: 20%;
  margin-top: 10%;
}

.row-4 {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 50%;
  align-items: center;
  display: flex;
}

h1, h2, h3 {
  font-family: 'Slackey', cursive;
}


#start {
  display: inline-block;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  margin-left: 50%;
  width: 10%;
  height: 20vh;
  text-align: center;
}

#categories {
  width: 80%;
}
#categories button {
  font-family: 'Slackey', cursive;
  font-size: 100%;
  padding: .5%;
  height: 12vh;
  width: 12vw;
  margin: 1%;
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
  justify-content: space-around;
  background-color: white;
}

button:hover {
  background-image: url('../img/button_background.png');
  color: white;
}



.player1 {
  width: 25%;
  height: 10em;
  align-self: center;
  justify-content: flex-start;
  display: inline-block;
  font-family: 'Cabin', sans-serif;
  border: 1px solid black;
  padding: 1%;
  background-color: white;
}

.player2 {
  width: 25%;
  height: 10em;
  align-self:center;
  justify-content: flex-end;
  display: inline-block;
  margin-left: 60%;
  font-family: 'Cabin', sans-serif;
  border: 1px solid black;
  padding: 1%;
  background-color: white;
}

input {
  width: auto;
  height: 2em;
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
  text-align: center;
}

#modal-container {
  border-radius: 1%;
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 75%;
  padding: 5%;
  margin: 0 20%;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  font-size: 2em;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 15px #888888;
  text-align: left;
  background-color: white;
}

#choices:hover {
  font-weight: bolder;
  color: #008066;
}

#answer {
  font-size: 1em;
  display: none;
}
/* Media Queries */

@media (max-width: 860px){
  #categories button {
    font-family: 'Cabin', sans-serif;
    height: auto;
    width: auto;
  }

  h2  {
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
  }

  .row-1 {
    font-size: 1em;
    height: 10%;
  }

  input {
    height: auto;
    width: auto;
    flex-flow: wrap;
  }

  .player1, .player2 {
    width: 50%;
    margin: auto;
    margin-left: 0;
    width: auto;
    justify-content: center;
  }
}

@media (max-width: 1170px){
  #categories button{
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
  }
}
