<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>Student Profile</h1>
    Add Profile form.
    <a href="/students/<%=student.id%>/edit">Edit</a>
  </body>
</html>
