<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Creative Blogging</title>
  </head>
  <body>
    <h1>Creative Blogging</h1>
      <h2>Connect.  Collaborate.  Create.

    <a href="/students">Student Profiles</a>
  </body>
</html>
