<!DOCTYPE html>
<html>
  <head>
      <% include partials/head.ejs %>
  </head>
  <body>

    <div class="container">
      <div class="row hero">
        <div class="col-xs-6" style="margin-top: 25%">
          <h1>Creative Blogging</h1>
          <section class="tagline">
            <h5>Connect. Collaborate. Create.</h5>
          </section>
        </div>

        <div class="col-xs-6 main-img"  style="margin-top: 15%">
          <img src="https://www.shewrites.com/mod/aalborg_theme/vendors/images/write.jpg"/>
        </div>

        <div class="container bottom" style="margin-top: 70%">
          <div class="row" style="margin-bottom: 25%">
            <div class="col-xs-4 menu">
              <h4>Student Profiles</h4>
              <section>
                <a class="button button-primary" href="/students">View Profiles</a>
              </section>
            </div>
            <div class="col-xs-4 menu">
              <h4>Wiki</h4>
              <section>
                <a class="button button-primary" href="#">View Wiki</a>
              </section>
            </div>
            <div class="col-xs-4 menu">
              <h4>Discussion Questions</h4>
              <section>
                <a class="button button-primary" href="#">View Posts</a>
              </section>
            </div>
          </div>
        </div>

      </div>
    </div>

  <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
