<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="col-xs-4 col-xs-offset-4" style="margin-top: 15%">
        <h1>Student Login</h1>

        <form action="/sessions/login" method="POST">
          <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" name="username" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" value="" class="form-control">
          </div>
          <br/>
          <button class="btn btn-default">Login</button>
        </form>
        <% if (message) { %>
          <%= message %>
        <% } %>
      </div>
    </div>





  </body>
</html>
